.reactEasyCrop_Container {
	width: 100%;
	height: 100%;
	max-width: 379px;
	max-height: 653px;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	border-radius: 20px;
	background-color: #262626;
}

@media only screen and (max-width: 480px) and (max-height: 920px) {
	.reactEasyCrop_Container {
		border-radius: 0px;
		width: 100vw;
		height: 100vh;
		min-height: fill-available;
		max-width: 100%;
		max-height: 100%;
	}
}

.containerClassName img {
		min-height: 248px;
		max-width: 100%;
		width: auto;
		height: auto;
	}

.cropAreaClassName {
	box-shadow: 0 0 0 9999em #262626 !important;
	max-width: 15.5em;
	max-height: 15.5em;
	min-height: 15.5em;
	min-width: 15.5em;
}
