* {
  box-sizing: border-box;
}

#root{
  height: 100%;
}


body{
  font-family: 'Futura PT', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

.show{
  display: block!important;
}

.hide{
  display: none!important;
}

.spinner {
  animation: spin infinite 1.5s linear;
}

.noScroll{
  overflow: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.no-scroll{
  overflow: hidden
}


.albums-cover::-webkit-scrollbar {
  display: none;
}

.albums-cover {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}