.containerStyle{
  display: flex;
  justify-content: space-between!important;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 0px!important;
  max-width:100%;
}


@media only screen and (min-width: 740px) {
  .containerStyle {
    margin-left: 0px;
    margin-right: 0px!important;
  }
}

.inputStyle {
  width: 1.875em!important;
  height: 40px;
  font-family: 'Futura PT', sans-serif;
  font-size: 1.5em;
  border-radius: 10px;
  border: 1px solid #EEEEEE;
  background-color: #F4F4F4;
  padding: 0px;
  margin-left: 0px!important
}

::selection {
display: block;
}

